
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image: url(blackTrasparent.png);
    z-index: 10000;
}

.detail {
	position: absolute;
    top: 15%;
    right: 15%;
    width: 70%;
    height: auto;
    background-color: white;
    z-index: 10001;
}

.manage-participants {
	position: absolute;
    top: 5%;
    right: 5%;
    width: 90%;
    height: auto;
    background-color: white;
    z-index: 10001;
    padding: 1%;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px; 
}

.text-centered {
	margin-top: 10px;
	text-align: center;
}

.title {
	text-align: center;
    font-family: Lobster;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

.meeting, .meeting-detail {
	border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 1% 5% 1% 5%;
}

.meeting-opened {
	background-color: #d7ffd7;
}

.meeting-closed {
	background-color: #ffcece;
}

.meeting:hover { 
    background-color: #b3b3ff;
}

.btn-100w {
	width: 100%;
}

#error, #errorParticipant, #errorPresenter {
	color: red;
}
