.form-border {
	padding: 5px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px; 
}

.margin-15px-top {
	margin-bottom: 15px;
}

#people {
	height: 100%;
}

.height10 {
	height: 10%;
}

.height90 {
	height: 90%;
	margin-bottom: 0px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row {
	margin-bottom: 15px;
}
